* {
  background-color: grey;
}
.title {
  text-align: center;
  background-color: red;
  margin: auto;
  width: fit-content;
  padding: 15px;
  font-size: 45px;
}
.left-side {
  float: left;
  width: 50%;
  font-size: 100px;
  justify-content: center;
  align-content: center;
}
.right-side {
  float: right;
  width: 50%;

}
.Players-table {
  display: grid;
  border-collapse: collapse;
  font-size: 45px;
  padding: 5px;
  font-size: auto;
  margin: 5px;
  text-align: left;
  border: 1px solid black;

  
}

.container {
  width: fit-content;
  margin: auto;
  padding: 10px;
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-content: center;
  gap: 15px; /* Adjust this value to set the gap between grid items */
}
.cells {
  background-color: #ccc; /* Background color of grid items */
  border: 2px solid #000; /* Border around grid items */
  text-align: center;
  padding: 20px;
  cursor: pointer;
}