* {
  background-color: grey;
  font-size: 100px;
  justify-content: center;
  align-content: center;
}
.title {
  text-align: center;
  background-color: red;
  margin: auto;
  width: fit-content;
  padding: 15px;
  font-size: 45px;
}
.left-side {
  float: left;
  width: 45%;
}
.right-side {
  float: right;
  width: 45%;

}
.leader-board {
  width: fit-content;
  font-size: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 50px);
}

.container {
  width: fit-content;
  margin: auto;
  padding: 10px;
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-content: center;
  gap: 15px; /* Adjust this value to set the gap between grid items */
}
.cells {
  background-color: #ccc; /* Background color of grid items */
  border: 2px solid #000; /* Border around grid items */
  text-align: center;
  padding: 20px;
  cursor: pointer;
}