body {
    font-family: Arial, sans-serif;
    background-color: #f6f9fc; /* Light blue background */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* White container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0077cc; /* Blue header text */
    margin-top: 0;
}

input[type="text"],
input[type="color"],
textarea,
button {
    margin-bottom: 10px;
}

input[type="text"],
input[type="color"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d6d6d6; /* Light gray border */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0099cc; /* Blue button background */
    color: #ffffff; /* White button text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077cc; /* Dark blue hover color */
}

#notesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.note {
    flex: 1 0 calc(50% - 20px); /* Two notes per row */
    background-color: #ffffff; /* White note background */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide overflowing content */
}

.note-header {
    padding: 10px;
    background-color: #0077cc; /* Blue header background */
    color: #ffffff; /* White header text */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.note-header input[type="text"] {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: #ffffff; /* White title text */
    font-size: 18px;
    font-weight: bold;
}

.note-options {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.note-options button {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #ffffff; /* White button background */
    color: #0077cc; /* Blue button text */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s
}